h1 {
    padding: 35px;
    text-align: center;
    background-color: steelblue;
}

h2, h3 {
    text-align: center;
    margin: 0 auto;
}

body{
    background-color: lightsteelblue;
    text-align: center;
}

p {
    max-width: 60%;
    margin: 0 auto;
}