body{
    background-color: 18303C;
    text-align: center;
    color: D6DDBF;
    font-family:'Courier New', Courier, monospace;
}

.header{
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color: 8BA296;
}

.chapter-heading{
    color: D6DDBF;
    font-family:'Courier New', Courier;
    padding: 35px;
    text-align: center;
}

h3 {
    padding: 2px;
    text-align: center;
    color: 8BA296;
    font-family:'Courier New', Courier, monospace;
}

p {
    max-width: 75%;
    margin: 0 auto;
}

li {
  list-style-type: none;
  color: navy; /* I'm not sure why I can't seem to change this? Is navy and purple an automatic default when clicking a link? */
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}